:root {
    --primary-orange: #e77224;
    --primary-black: #000000;
    --secondary-gray: #828282;
}

.visually-hidden {
    visibility: hidden;
}

body {
    color: var(--primary-black);
    font-size: 16px;
}

header {
    width: 100%;
}

header .logo {
    margin: 0 auto;
    padding: 10px 20px;
}

.subheading {
    margin: 32px auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 0;
}

.subheading p {
    margin: 0;
}

.subheading .eyebrow {
    font-family: cursive;
    color: var(--primary-orange);
}

.subheading .subtitle {
    color: var(--secondary-gray);
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.menu .card {
    width: 100%;
    max-width: 500px;
}

.menu .card .picture {
    max-width: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.menu .card .picture img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.menu .card .card-title {
    font-size: 1.25em;
    color: var(--secondary-black);
}

.menu .card .card-text {
    font-size: 1.00em;
    color: var(--secondary-gray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu .card .card-text .price {
    color: var(--primary-black);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 575px) {
    .menu .card .card-title {
        font-size: 1.00em;
    }
    
    .menu .card .card-text {
        font-size: 0.75em;
    }
}